.container {
  margin: 10px 20px;
  display: block;
  max-width: 300;
  width: 730px !important;
  border: 1px solid rgba(0, 0, 0, 0.23);
  font-family: "Roboto", sans-serif;
}

.weather h1 {
  display: block;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.weather h2 {
  display: block;
  font-size: 20px;
  position: relative;
  left: 10px;
}

.search-city {
  position: relative;
  left: 400px;
  bottom: 79px;
  margin-left: 42px;
}

.search-engine {
  position: relative;
  left: 184px;
  bottom: 24px;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  margin: 0 40px;
}
.pin-icon {
  position: relative;
  left: 184px;
  bottom: 24px;
  font-weight: bolder;
}
.exact-conditions {
  margin-top: -44px;
}
.today-temp {
  position: relative;
  bottom: 81px;
  left: 65px;
}

.exact-temp {
  font-size: 48px;
}
.degrees {
  position: relative;
  top: -25px;
  font-size: 20px;
  padding-left: 10px;
}

.today-min {
  opacity: 0.6;
}

ul {
  padding-left: 10px;
}
li {
  list-style: none;
}

.degrees a {
  text-decoration: none;
  color: #7ea7e3;
}

.big-icon canvas {
  width: 58px;
  padding-bottom: 9px;
  padding-right: 5px;
}

.col-2 {
  text-align: center;
  margin-right: 10px;
}

footer {
  font-family: monospace;
  margin-top: 30px;
  text-align: right;
  opacity: 0.6;
  text-align: center;
}
